<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dam222.mislugaresuxiarcapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>//permisos para acceder al almacenamiento
    <application
        android:name=".presentacion.Aplicacion"
        android:allowBackup="true"
        android:icon="@mipmap/ic_mi_icono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_mi_icono_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentacion.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentacion.AcercadeApp" />
        <activity android:name=".presentacion.VistaLugarActivity" />
        <activity android:name=".presentacion.EdicionlugarActivity"/>
        <activity android:name=".presentacion.TipoLugarActivity"/>
    </application>

</manifest>